package {{{javaPackageFull}}}.model.rsp;

import {{{javaPackageFull}}}.model.base.ResponseBase;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class AppConfigRsp implements ResponseBase {
    private Long id;
    private String key;
    private String description;
    private String value;
}
